.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*----------------------------------------------------------*/
/* App Screen */
.AppLayout {
  width: 100%;
  height: 100vh; /* this means height spans the height of screen */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202b3d;
}

.AppScreen {
 width: 300px;
 height: 500px;
 background-color: white;
}

.Routes {
  /*
  
  left: 0;
  bottom: 0;
  */
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Futura";
  font-weight: lighter;
  letter-spacing: 1px;
  color: #1d2026;
  font-size: 14px;
}

#Separator {
  width: 100%;
  height: 1px;
  background-color: #c43333;
}

.Link {
  text-align: center;
  text-decoration: none;
  color: #c43333;
}

/* Cannot apply border?
.Link p {
  border-style: solid;
  border: #282c34;
  border-width: 2px;
}
*/

.Link:hover{
  text-align: center;
  text-decoration: none;
  background-color: rgb(250, 232, 232);
  color: #c43333;
  height: 49px; /*minus the offset set by #Separator*/
}

.IndiPage {
  width: 300px;
  height: 450px;
  background-color: white;
  font-family: "Futura";
  font-weight: lighter;
  letter-spacing: 1px;
  color: #1d2026;
}
/* App Screen */
/*----------------------------------------------------------*/


/*----------------------------------------------------------*/
/* Slider Content*/
.UserSlide {
  width: 100%;
  height: 86%;
  /*background-color: #61dafb;*/
  /*opacity: 0;*/
}

/*
.UserSlide .Active {
  width: 100%;
  height: 400px;
  opacity: 1;
  background-color: yellow;
}
*/

.UserSlide img {
  height: 100%;
  width: 100%;
  object-fit: cover; /*to crop image*/
  /*width: 100%;*/
}

.UserInfo {
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button {
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button a {
  background-color: #c43333;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-appearance: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji {
  height: 20px;
  width: 20px;
  
}

/* Slider */
/*----------------------------------------------------------*/


/*----------------------------------------------------------*/
/* Liked */
.Title {
  padding-top: 4%;
  padding-left: 5%;
  height: 30px;
}

.IndiList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 4%;
  height: 85%; /* Don't know how to fade in & how to correctly set size of navbar yet */
  overflow: scroll;
}

.IndiUser {
  /*display: inline-block;
  width: 30%;
  */
  padding: 5%;
  margin: 0;
}


.IndiPic { /* was trying to get rid of space under image. did not work */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.IndiPic img {
  margin: 0;
  width: 85px;
  height: 85px;
  object-fit: cover;
  border-radius: 50%;
}

.IndiInfo {
  margin: 0px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}
/* Liked */
/*----------------------------------------------------------*/